:root {
  --bg: #0b0b0b;
  --pink: #aa579f;
  --white-ac: #ffffff;
}

.logo {
  height: 30px;
}

body {
  font-family: "Poppins";
  background-color: rgb(0, 0, 0);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

main {
  background-color: var(--bg);
}
.small-tittle {
  color: var(--white-ac);
}
.pink-tittle {
  color: var(--pink);
}

.italic {
  font-style: italic;
  font-size: 14px;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 260px 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 64px;
}

.grid-3-columns {
  display: grid;
  grid-gap: 64px;
  grid-template-columns: 1fr 1fr 1fr;
}

.welcome-message {
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  color: white;
}

.card {
  background-color: var(--bg);
  margin: 30px 0;
  text-align: center;
}
main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.5;
}

.btn {
  display: block;
  color: var(--white-ac);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: var(--pink);
  text-decoration: none;
}

main .grid {
  grid-template-columns: 1fr 1fr;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  margin: 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: black;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url("../images/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

footer ul,
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
}

footer a {
  opacity: 0.7;
  color: white;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
}

footer h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: gray;
  opacity: 0.3;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

.img-res {
  width: 100%;
  aspect-ratio: 1/1;
}
.main-img {
  margin-top: 150px;
}

.cafes-section {
  background-color: var(--bg);
}

.text-center {
  text-align: center;
  margin-bottom: 50px;
}

.grid-cafe-maps {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-team {
  display: grid;
}
.embed {
  width: 100%;
  aspect-ratio: 1 /1;
}

.grid-instagram {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  .text-center {
    margin-bottom: 20px;
  }
  p,
  ul,
  h4 {
    text-align: center;
  }
  main .grid,
  .grid,
  .grid-3-columns,
  .grid-cafe-maps,
  .grid-instagram {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  .main-img {
    margin-top: 10px;
  }
  section {
    padding: 30px;
  }
  .img-res {
    margin-top: 0;
  }
  .cafes-section .img-res {
    display: none;
  }
  .embed {
    aspect-ratio: 16 / 9;
    width: 100%;
  }
}

/* Navigation styling */
nav {
  background-color: var(--bg);
  padding: 20px;
}
.diff-colour {
  background-color: black;
}

ul {
  list-style-type: none; /* Removes the default list bullets */
  margin: 0;
  padding: 0;
  display: flex; /* Makes the list items appear in a row */
}

li {
  margin-right: 20px;
}

a {
  color: white;
  text-decoration: none; /* Removes the underline */
  padding: 10px;
  display: block;
}

a:hover {
  background-color: #575757; /* Changes background on hover */
}

/*about us page*/

.oaaf-img {
  padding-top: 250px;
}

.goals-img {
  padding-top: 50px;
}

.icon-size {
  font-size: 100px;
}

/*image padding in journal page*/

.a0 {
  padding-top: 190px;
}

.a1 {
  padding-top: 195px;
}

.a2 {
  padding-top: 230px;
}

.a3 {
  padding-top: 100px;
}

.a4 {
  padding-top: 160px;
}

.a5 {
  padding-top: 160px;
}

.a6 {
  padding-top: 290px;
}

/*sponsorship*/

.spons-img {
  padding-top: 200px;
}

.workshop-img {
  width: 100%;
  padding-bottom: 50px;
}

.no-aspect {
  width: 100%;
}

.bold {
  font-weight: bold;
  text-transform: uppercase;
  font-size: larger;
}

.margin-spons {
  margin-bottom: 100px;
}

.small-img {
  width: 50%;
  padding-left: 90px;
}

.spacing-numbers {
  padding-bottom: 80px;
}

.margin-sponsor {
  margin-top: 2px;
  padding-bottom: 50px;
}

.spons-list {
  display: inline;
  list-style-type: circle;
  text-align: justify;
}

/* articlesd */

.small-italic {
  color: white;
  font-style: italic;
  font-size: small;
  align-content: left;
}

.article-para {
  color: white;
  align-content: justify;
}

.pink-tittle-article {
  color: var(--pink);
  padding-bottom: 60px;
}

.youth-video {
  position: relative;
  aspect-ratio: 16/9;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: flex;
  padding-bottom: 40px;
  padding-top: 60px;
}

.nav-center {
  margin-left: 150px;
}

.pad-youth {
  padding-top: 100px;
}
